<div class="timeline">
    <section style="display:inline-block;margin-top:40px;" ng-repeat="step in vm.roomTimeLine track by $index">
        
        <div style="position:absolute;top:70px;font-size:12px;" ng-if="$index%4 === 0"> {{step.hour}} </div>

        <aside ng-click="vm.selectHours(step)" ng-if="$index%4 === 0" style="margin-left:1px;" ng-class="{available: step.availablity, 
        selected__between:step.hour > vm.selectedHours[0].hour && step.hour < vm.selectedHours[1].hour,
        selected__first:vm.selectedHours[0].hour == step.hour,selected__second: vm.selectedHours[1].hour == step.hour }"
        class="timeline__step">
            <span>{{step.hour}}</span>
        </aside>
        
        <aside  ng-click="vm.selectHours(step)" ng-if="$index%4 !== 0" ng-class="{available: step.availablity, 
        selected__between:step.hour > vm.selectedHours[0].hour && step.hour < vm.selectedHours[1].hour,
        selected__first:vm.selectedHours[0].hour == step.hour,selected__second: vm.selectedHours[1].hour == step.hour}"
         class="timeline__step">
            <span>{{step.hour}}</span>
        </aside>
         


    </section>


</div>

